<div id="content">
    <ms-header text="Microservice Starter"></ms-header>
    <div id="microservices">
        <mat-card id="microservices-card">
            <div id="path-chooser-container">
                <ms-path-chooser id="path-chooser" (pathSubmitted)="pathChanged($event)"></ms-path-chooser>
            </div>
            <div id="microservice-runner-container">
                <ms-microservice-runner id="microservice-runner" (runMicroservicesSubmitted)="runMicroservices($event)">
                </ms-microservice-runner>
            </div>
        </mat-card>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->