<div id="content">
    <form [formGroup]="pathChooserForm" (ngSubmit)="onSubmit()">
        <div id="search-bar">
            <mat-form-field floatLabel="always">
                <mat-label>Microservices Path</mat-label>
                <input matInput placeholder="C:/Your/Microservice/Path" formControlName="path">
                <mat-error
                    *ngIf="this.pathFormControl.hasError('invalidPath') && this.pathFormControl.hasError('sameInvalidPath')">
                    Path is invalid or contains no microservices
                </mat-error>
            </mat-form-field>
            <button id="search-btn" type="submit" mat-raised-button color="primary"
                [disabled]="this.pathFormControl.hasError('required')">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>
</div>